<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Calculator</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about_us">about_us</a></li>
      <li><a href="/faqs">faqs</a></li>
      <li><a href="/calculate">calculate</a></li>
      <li><a href="/volume_calculate">volume_calculate</a></li>
      <li><a href="/age_calculate">age_calculate</a></li>
    </ul>

  </nav>

  <%= yield %>

</body>
</html>